---
import Layout from "../layouts/Layout.astro";
import PaperAirplane from "../components/doodles/PaperAirplane.astro";
---

<Layout title="Contact | Offbeat Canine - Dog Training and Education">
    <section class="container py-10">
        <div class="prose lg:prose-xl dark:prose-invert mx-auto">
            <div class="relative">
                <h1 class="text-2xl font-bold">Contact</h1>
                <PaperAirplane class="absolute top-0 -right-20 h-20 transform rotate-12 opacity-50" />
            </div>
            <p>
                Want to schedule an audition? Or just have questions? Contact us using the form below.
            </p>
            <form
                data-netlify="true"
                name="contact"
                class="w-full flex flex-col items-start gap-4">
                <input
                    name="subject"
                    type="hidden"
                    value="New lead from offbeatcanine.com"
                />
                <div class="w-full flex flex-col lg:flex-row gap-4">
                    <label class="w-full lg:flex-1">
                        <span class="block font-semibold">Your Name</span>
                        <input
                            name="name"
                            type="text"
                            class="mt-2 w-full px-2 input"
                        />
                    </label>
                    <label class="w-full lg:flex-1">
                        <span class="block font-semibold">Your Email</span>
                        <input
                            name="email"
                            type="email"
                            class="mt-2 w-full px-2 input"
                        />
                    </label>
                </div>
                <label class="w-full">
                    <span class="block font-semibold">Message</span>
                    <textarea
                        name="message"
                        rows="6"
                        class="mt-2 px-2 w-full input"
                    ></textarea>
                </label>
                <button
                    type="submit"
                    x-bind:href="link"
                    class="px-2 w-full sm:w-auto button">
                    Send
                </button>
            </form>

            <p class="pt-8 text-sm">
                Haven't heard back? We usually respond in a timely manner, try checking your spam folder!
            </p>
        </div>
    </section>
</Layout>
