---
import ArrowAngleDotted from "../components/doodles/ArrowAngleDotted.astro";
import Blob from "../components/doodles/Blob.astro";
import ArrowLoopy from "../components/doodles/ArrowLoopy.astro";
import Squiggle from "../components/doodles/Squiggle.astro";
import Explosion from "../components/doodles/Explosion.astro";
import Star from "../components/doodles/Star.astro";
import Rip from "../components/images/rip.astro";
import Layout from "../layouts/Layout.astro";
import Swirl from "../components/doodles/Swirl.astro";
---

<Layout title="Services | Offbeat Canine - Dog Training and Education">
    <section class="bg-neutral-50 dark:bg-neutral-900">
        <div class="container py-10">
            <div class="prose lg:prose-lg dark:prose-invert mx-auto">
                <h1>Services</h1>
                <p>
                    Located in Londonderry, NH, providing private dog training
                    in and around southern New Hampshire and northern
                    Massachussets.
                </p>
                <p>
                    At Offbeat Canine, we're committed to making quality
                    training accessible to all, because every dog deserves the
                    chance to thrive. We offer simple packages with transparent
                    pricing, flexible scheduling, and a free, no commitment,
                    phone consultation!
                </p>

                <a href="/contact" class="inline-block button">Contact Us</a>
            </div>
        </div>
    </section>

    <section class="py-10 border-t dark:border-neutral-800 overflow-hidden">
        <div class="container">
            <div class="relative prose lg:prose-lg dark:prose-invert prose-a:text-brand mx-auto">
                <ArrowAngleDotted class="absolute -top-4 right-0 w-16 transform rotate-[-80deg] -scale-x-100 translate-x-1/4 lg:translate-x-1/2 opacity-50" />

                <h2 class="!mt-0 text-brand">Ready to join the band?</h2>

                <div class="relative overflow-visible">
                    <Explosion class="absolute top-0 left-0 w-24 h-24 transform -translate-x-1/2 lg:-translate-x-full rotate-[40deg] text-brand opacity-50" />
                </div>

                <h2 class="font-display">Audition</h2>
                <p>
                    Following a <strong>free</strong> phone consultation, we'll schedule
                    a visit to your home to observe your dog's behavior in their
                    natural environment. During this session, we'll conduct a thorough
                    behavioral evaluation and provide you with detailed insight on
                    the behavior patterns. This visit gives the trainer the chance
                    to understand and observe the moments in your routine that obedience
                    could benefit.
                </p>
                <p>
                    Following this visit your trainer will formulate a
                    customized training plan for you and your canine's genre of
                    life. Our goal is to establish a strong foundation built on
                    trust and communication, tailored to your dog's unique needs
                    and your realistic expectations. If all goes well, you'll
                    then begin joining us for <a href="#band-practice"
                        >Band Practice</a
                    >!
                </p>
                <div
                    class="mt-10 relative p-3 bg-white dark:bg-neutral-100 dark:text-neutral-900 shadow-sm">
                    <div class="absolute top-[-23px] inset-x-0 overflow-hidden -scale-x-100">
                        <Rip class="text-white dark:text-neutral-100" />
                    </div>
                    <div class="flex items-baseline gap-2 z-10">
                        <span class="shrink-none font-semibold">One hour</span>
                        <span class="flex-grow border-b-4 border-dotted border-neutral-300"></span>
                        <span class="shrink-none font-normal">$65</span>
                    </div>

                    <div class="mt-2 text-base flex items-baseline gap-2">
                        <span class="shrink-none font-medium">Additional dogs</span>
                        <span class="flex-grow border-b-4 border-dotted border-neutral-300"></span>
                        <span class="shrink-none">+ $20 each</span>
                    </div>
                </div>

                <p><a href="/contact">Send an email</a> to book an audition</p>

                <div class="relative">
                    <Squiggle class="absolute top-[72px] lg:top-[84px] -left-4 h-6 lg:h-10 text-brand opacity-50" />
                </div>

                <h2 id="band-practice" class="font-display">Band Practice</h2>
                <p>
                    Congrats, you're in the band! Join us for four or six weekly
                    private training sessions. Mix and match between two types
                    of practice:
                    <a href="#jam-session" class="font-semibold"
                        >Jam Sessions</a
                    > and
                    <a href="#trainer-tour" class="font-semibold"
                        >Trainer Tours</a
                    >! Either option includes the following:
                </p>
                <ul>
                    <li>
                        A training plan customized to your dog's needs, updated
                        every visit by our trainer.
                    </li>
                    <li>
                        Homework activities to help obedience become a natural
                        part of your daily routine.
                    </li>
                    <li>24/7 email support from the trainer.</li>
                    <li>
                        Customized training resources, made for humans to
                        understand.
                    </li>
                    <li>
                        Videos made for reference with your trainer and your
                        dog!
                    </li>
                    <li>
                        Access to <a href="#townie-tune-up">Townie Tune Ups</a>!
                    </li>
                </ul>

                <div class="relative">
                    <ArrowLoopy class="absolute -top-10 right-0 h-16 transform rotate-180 opacity-50" />
                </div>

                <h3 id="jam-session">Jam Session</h3>
                <p>
                    With your pups performance in mind, we offer packages of four or six weeks
                    of personalized private lessons conducted in the comfort of your own home.
                    With our rock-inspired approach, expect a blend of passion, dedication,
                    and plenty of positive reinforcement. Let's hit the stage together,
                    creating harmony and rhythm between you and your beloved canine companion.
                </p>

                <div class="relative">
                    <Blob class="absolute -left-96 top-0 w-32 opacity-50 transform -scale-x-100" />
                </div>

                <h3 id="trainer-tour">Trainer Tour</h3>
                <p>
                    Going out of town? Have too many meetings? Don't let your
                    pup miss a beat! Our trainer will swing by your place,
                    groove around the neighborhood, and rock out with your pup
                    -— all without you needing to be there.
                </p>
                <p>
                    We'll work on behavior challenges, practice obedience, and
                    ensure your dog gets the star treatment they deserve. Let
                    Offbeat Canine take the lead while you enjoy the harmony of
                    a well-trained pup, all from the comfort of your own home.
                </p>
                <div
                    class="mt-10 p-3 relative bg-white dark:bg-neutral-100 dark:text-neutral-900 shadow-sm">
                    <div class="absolute top-[-23px] inset-x-0 overflow-hidden">
                        <Rip class="text-white dark:text-neutral-100" />
                    </div>
                    <div class="flex items-baseline gap-2">
                        <span class="shrink-none font-semibold">Four one hour sessions</span>
                        <span class="flex-grow border-b-4 border-dotted border-brand/50"></span>
                        <span class="shrink-none font-normal">$350</span>
                    </div>
                    <div class="flex items-baseline gap-2">
                        <span class="shrink-none font-semibold">Six one hour sessions</span>
                        <span class="flex-grow border-b-4 border-dotted border-brand/50"></span>
                        <span class="shrink-none font-normal">$500</span>
                    </div>
                    <div class="mt-2 text-base flex items-baseline gap-2">
                        <span class="shrink-none font-medium">Additional dogs</span>
                        <span class="flex-grow border-b-4 border-dotted border-neutral-300"></span>
                        <span class="shrink-none">+ $20 each per session</span>
                    </div>
                </div>

                <div class="relative">
                    <Star class="absolute top-4 lg:top-1 -left-4 lg:-left-6 w-12 lg:w-16 transform rotate-45 text-brand opacity-50" />
                </div>

                <h2 id="townie-tune-up" class="font-display">Townie Tune Up</h2>
                <p>
                    After completing our <a href="#band-practice"
                        >Band Practice</a
                    > program, you and/or your pup can request one-off private training
                    to stay in-tune!
                </p>

                <p>
                    Want some backup bringing pup to a park, brewery, your pal's
                    house? Let us help tune out the background!
                </p>

                <p>
                    Or treat it as a day adventure service, our trainer will
                    come guide your furry friend through a structured training
                    session in a dog-friendly, pre-approved location. Ideally an
                    urban setting, providing mental and physical stimulation
                    through exploration. We'll reinforce obedience skills,
                    practice leash manners, and ensure a safe and enjoyable
                    experience for your dog.
                </p>
                <div
                    class="mt-10 relative p-3 bg-white dark:bg-neutral-100 dark:text-neutral-900 shadow-sm">
                    <div class="absolute top-[-23px] inset-x-0 overflow-hidden -scale-x-100">
                        <Rip class="text-white dark:text-neutral-100" />
                    </div>
                    <div class="flex items-baseline gap-2">
                        <span class="shrink-none font-semibold">One hour</span>
                        <span class="flex-grow border-b-4 border-dotted border-brand/50"></span>
                        <span class="shrink-none font-normal">$90</span>
                    </div>
                    <div class="mt-2 text-base flex items-baseline gap-2">
                        <span class="shrink-none font-medium">Additional dogs</span>
                        <span class="flex-grow border-b-4 border-dotted border-neutral-300"></span>
                        <span class="shrink-none">+ $20 each</span>
                    </div>
                </div>

                <div class="relative">
                    <Swirl class="absolute -right-48 -top-48 w-32 opacity-50" />
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="container py-10">
            <div class="prose lg:prose-xl dark:prose-invert mx-auto">
                <p>
                    Want to learn more? We're happy to answer any questions you might have!
                </p>
                <a href="/contact" class="inline-block button text-center w-full sm:w-auto sm:text-left">Contact Us</a>
            </div>
        </div>
    </section>
</Layout>
