<footer class="pt-10">
    <div
        class="h-[46px] bg-checkerboard-dark dark:bg-checkerboard-gray bg-repeat-x text-neutral-50 dark:text-neutral-900"
    >
    </div>
    <div
        class="p-8 bg-neutral-900 text-neutral-50 dark:bg-neutral-800 flex flex-col gap-6 sm:flex-row sm:justify-between"
    >
        <div>
            &copy; 2024 <span class="font-semibold">Offbeat Canine LLC.</span>
        </div>
        <div class="flex items-center gap-4">
            <a href="https://www.facebook.com/profile.php?id=61557716376366">
                <include src="icons/facebook.svg"></include>
            </a>
        </div>
    </div>
</footer>
