---
const { href, class: className } = Astro.props;
---

<a
    href={href}
    class:list={[
        className,
        "w-full",
        "h-full",
        "p-3",
        "flex",
        "items-center",
        "justify-center",
        "border-2",
        "border-neutral-900",
        "dark:border-neutral-100",
        "hover:bg-neutral-900",
        "hover:text-neutral-50",
        "dark:hover:bg-neutral-100",
        "dark:hover:text-neutral-900",
        "transition-colors",
        "text-balance",
        "text-center",
    ]}
>
    <slot />
</a>
