---
const { from, message } = Astro.props;
---

<div
    class="break-inside-avoid-column p-4 rounded-3xl rounded-bl-md bg-neutral-200 dark:bg-neutral-800 transition ring-2 ring-neutral-200 dark:ring-neutral-800 hover:ring-brand hover:shadow-lg hover:scale-105 ease-out"
>
    <div class="text-sm font-semibold">
        {from}
    </div>
    <p class="mt-1">
        {message}
    </p>
</div>
