---
import { getCollection } from "astro:content";
import CaretRightMini from "./icons/caret-right-mini.astro";
import CaretLeftMini from "./icons/caret-left-mini.astro";
import Review from "./review.astro";

const reviews = await getCollection("reviews");
---

<div class="prose lg:prose-lg dark:prose-invert">
    <h3>What the critics are saying</h3>
</div>

<div x-data=`carousel(${reviews.length})` class="mt-8">
    <div class="relative flex-grow flex overflow-x-hidden">
        <ul
            class="w-full flex items-start transition-transform duration-500"
            :style="`transform: translateX(-${(current-1) * 100}%)`">
            {
                reviews.map((review, idx) => (
                    <li class="w-full shrink-0">
                        <Review review={review} index={idx} />
                    </li>
                ))
            }
        </ul>
    </div>
    <div class="mt-4 flex items-center justify-between gap-4">
        <button
            @disabled="current == 0"
            @click="previous"
            class="shrink-0 button !p-2.5">
            <CaretLeftMini class="size-5" />
            <label class="sr-only">previous</label>
        </button>
        <p>
            <span x-text="current"></span>
            of
            <span x-text="total"></span>
        </p>
        <button @click="next" class="shrink-0 button !p-2.5">
            <CaretRightMini class="size-5" />
            <label class="sr-only">next</label>
        </button>
    </div>

    <!-- Hidden star SVG for reference in reviews -->
    <svg style="display: none;">
        <defs>
            <symbol id="star" viewBox="0 0 24 24" fill="currentColor">
                <path
                    fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd"></path>
            </symbol>
        </defs>
    </svg>
</div>

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("carousel", (total: number) => ({
            current: 1,
            total: total,
            next() {
                this.current = this.current == total ? 1 : this.current + 1;
            },
            previous() {
                this.current = this.current > 1 ? this.current - 1 : this.total;
            },
        }));
    });
</script>
