---
import { getCollection } from "astro:content";
import CaretRightMini from "./icons/caret-right-mini.astro";
import CaretLeftMini from "./icons/caret-left-mini.astro";
import ReviewCard from "./review-card.astro";
import HollowLink from "./hollow-link.astro";

const reviews = await getCollection("reviews");

const newestReviews = reviews
    .sort((a, b) => b.data.date - a.data.date)
    .slice(0, 3);
---

<div x-data=`carousel(${newestReviews.length + 1})`>
    <div class="container">
        <div
            class="max-w-3xl mx-auto flex flex-col gap-2 md:flex-row md:justify-between">
            <h3 class="text-2xl font-semibold">What the critics are saying</h3>
            <div class="flex items-center justify-between gap-4">
                <button
                    x-attr:disabled="current == 0"
                    @click="previous"
                    class="shrink-0 p-2.5 rounded-full focus:outline-none border-2 border-transparent focus:border-brand"
                    :class="current == 0 ? 'text-gray-300 dark:text-gray-700' : ''">
                    <CaretLeftMini class="size-5" />
                    <label class="sr-only">previous</label>
                </button>
                <p>
                    <span x-text="current + 1"></span>
                    of
                    <span x-text="total"></span>
                </p>
                <button
                    x-attr:disabled="current == total - 1"
                    @click="next"
                    class="shrink-0 p-2.5 rounded-full focus:outline-none border-2 border-transparent focus:border-brand"
                    :class="current == total - 1 ? 'text-gray-300 dark:text-gray-700' : ''">
                    <CaretRightMini class="size-5" />
                    <label class="sr-only">next</label>
                </button>
            </div>
        </div>
    </div>

    <div class="w-screen sm:max-w-6xl mx-auto relative">
        <div
            x-ref="container"
            class="flex snap-x snap-mandatory gap-8 overflow-x-auto pb-14 px-4 sm:px-20 md:px-48 lg:px-64 lg:[mask:linear-gradient(to_right,transparent_0%,black_6rem,black_calc(100%-6rem),transparent_100%)]">
            {
                newestReviews.map((review, idx) => (
                    <ReviewCard review={review} index={idx} />
                ))
            }
            <div class="shrink-0 w-screen max-w-3xl lg:w-full self-stretch snap-center border dark:border-neutral-700">
                <div class="h-full flex flex-col items-center justify-center gap-4">
                    <p class="text-lg">
                        Wait, there's more!
                    </p>
                    <div>
                        <HollowLink href="/reviews">See all reviews</HollowLink>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Hidden star SVG for reference in reviews -->
    <svg style="display: none;">
        <defs>
            <symbol id="star" viewBox="0 0 24 24" fill="currentColor">
                <path
                    fill-rule="evenodd"
                    d="M10.788 3.21c.448-1.077 1.976-1.077 2.424 0l2.082 5.006 5.404.434c1.164.093 1.636 1.545.749 2.305l-4.117 3.527 1.257 5.273c.271 1.136-.964 2.033-1.96 1.425L12 18.354 7.373 21.18c-.996.608-2.231-.29-1.96-1.425l1.257-5.273-4.117-3.527c-.887-.76-.415-2.212.749-2.305l5.404-.434 2.082-5.005Z"
                    clip-rule="evenodd"></path>
            </symbol>
        </defs>
    </svg>
</div>

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("carousel", (total: number) => ({
            current: 0,
            total: total,
            next() {
                this.$refs.container.children[this.current + 1].scrollIntoView({
                    block: "nearest",
                    behavior: "smooth",
                });
            },
            previous() {
                this.$refs.container.children[this.current - 1].scrollIntoView({
                    block: "nearest",
                    behavior: "smooth",
                });
            },
        }));
    });
</script>
