---
const {href} = Astro.props;
---
<a href={href} class="aspect-[1/1] w-12 p-1 flex flex-col items-center justify-center rounded-2xl border-px bg-neutral-200 dark:bg-neutral-700 text-neutral-800 dark:text-neutral-200 dark:hover:text-neutral-800 hover:scale-105 hover:bg-brand transition-all">
    <slot />
</a>
