<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content="Dog training and services based in Londonderry New Hampshire.">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!-- <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    <!-- Calendly link widget begin -->
    <link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
    <!-- Calendly link widget end -->
    {tailwindcss}
</head>
<body class="font-sans bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-50">
    <include src="header.html"></include>
    {slot}
    <include src="footer.html"></include>
    <script src="/assets/js/main.js"></script>
    <script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
</body>
</html>
