<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{title}</title>
    <meta name="description" content="Dog training and services based in Londonderry New Hampshire.">
    <link rel="icon" type="image/x-icon" href="/assets/images/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet">
    {tailwindcss}
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>
<body class="font-sans bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-50 bg-graph flex flex-col min-h-screen">
    <include src="header.html"></include>
    <main class="flex-grow">
        {slot}
    </main>
    <include src="footer.html"></include>
    <script src="/assets/js/main.js"></script>
</body>
</html>
