---
import Footer from "../components/footer.astro";
import Header from "../components/header.astro";
import '../main.css';

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <meta name="description" content="Private dog training in and around southern New Hampshire." />
        <meta property="og:type" content="website">
        <meta property="og:url" content="https://www.offbeatcanine.com">
        <meta property="og:title" content="Offbeat Canine" />
        <meta property="og:description" content="Dog training and education in Londonderry, New Hampshire">
        <meta property="og:image" content="/og.png?202406092220" />
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
        <link rel="manifest" href="/site.webmanifest" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap" rel="stylesheet" />
        <script is:inline defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    </head>
    <body class="font-sans bg-neutral-50 dark:bg-neutral-900 dark:text-neutral-50 bg-graph flex flex-col min-h-screen">
        <Header />
        <main class="flex-grow">
            <slot />
        </main>
        <Footer />
    </body>
</html>
